.addSkill{
    text-align: right;
}
.addbtn{
    background: rgb(9, 194, 39);
color: white;
border: 1px solid;
border-color: rgb(6, 204, 39);
}
.btnsubmit{
background: rgb(25, 120, 184);
color: white;
border: 1px solid;
border-color: rgb(29, 93, 177);
}
.deleteicon{
  color:white;
  background: red; 
  height: 85%;
}
